.column{
width: 20%;
height: 300px;
float: left;
border:1px solid black ;
margin: 5px;
border-radius: 10px;
text-align: center;
}
.san-pham{
border-radius:10 px;
padding:10px;
margin:5px;
text-align: center;
}
.san-pham .ten{
font-size:larger;
font-variant:;
color: blue;
}
.san-pham img{
max-width:95%
}
.san-pham .gia{
    color: red;
    font-weight:bold;
font-size:larger
}
.san-pham.gia del{
color:gray;
}
del{
    color: gray;
    font-weight:bold;
}
